<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/register.js" defer></script>
    <title>Word Storm - Register</title>
</head>

<body>
    <div class="form-container">
        <form class="form" method="post">
            <div class="heading">Register</div>
            <div class="error-msg hidden"></div>
            <input class="username-input" type="text" placeholder="Username...">
            <input class="email-input" type="email" placeholder="Email...">
            <input class="password-input" type="password" placeholder="Password...">
            <input class="confirm-password-input" type="password" placeholder="Confirm Password...">
            <input class="sbmt-btn" type="submit" value="Login">
            <a class="login-link" href="/login">Login</a>
        </form>
    </div>
</body>

</html>